$borderRadius: .3rem

.v-dialog-alert
  min-height: 100%
  overflow: hidden
  display: flex
  flex-direction: column
  &.no-icon
    .v-dialog-alert__content
      padding-left: 15px
  .v-dialog-alert__content
    overflow-y: auto
    min-height: 100px
    flex-grow: 1
    display: flex
    padding: 1rem
  .v-dialog-alert__icon
    display: flex
    padding: 0 2rem 0 1rem
    font-size: 3rem
    color: #333
    filter: drop-shadow(4px 3px 6px rgba(0, 0, 0, .6))
  .v-dialog-alert__message
    flex-grow: 1
    font-size: 14px
    line-height: 1.5
    padding-top: 5px
  .v-dialog-alert__buttons
    display: flex
    justify-content: flex-end
    padding: 0 1rem 1rem 0
    button
      outline: none !important
      padding: 8px 15px
      min-width: 90px
      border-radius: .7rem
      font-size: 14px
      transition: all .2s ease-in-out
      &:active
        box-shadow: 0 10px 20px rgba(0,0,0,.2), 0 6px 6px rgba(0,0,0,.23)
    .v-dialog-btn__ok
      border: 1px solid #516270
      background-color: #516270
      color: white
    .v-dialog-btn__cancel
      border: 1px solid #F0F0F0
      background-color: #F0F0F0
      margin-left: 1rem

=dialog-shadow($color)
  box-shadow: 0 1rem 5rem $color !important

.v-dialog__shadow--error
  +dialog-shadow(rgba(255,0,0,0.5))

.v-dialog__shadow--warning
  +dialog-shadow(rgba(255,165,0,0.5))

.v-dialog__shadow--success
  +dialog-shadow(rgba(0,255,0,0.5))
