/* css animate */

=timerhand()
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
@keyframes timerhand
  +timerhand()

=animated-dialog-open()
  0%
    transform: scale(0.7)
  45%
    transform: scale(1.05)
  80%
    transform: scale(0.95)
  100%
    transform: scale(1)
@keyframes animated-dialog-open
  +animated-dialog-open()

/* modal, alert, mask show up animated */
.v-dialog--candy-enter-active
  will-change: transform
  animation: animated-dialog-open 300ms ease-in-out
  transform: translate3d(0, 0, 0)
.v-dialog--candy-leave-active
  will-change: transform, opacity
  transform: scale(0.5) translate3d(0, 0, 0)
  transition: transform 200ms ease, opacity 200ms ease
  opacity: 0

.v-dialog--smooth-enter-from,
.v-dialog--smooth-leave-to
  will-change: transform, opacity
  transform: scale(0.5) translate3d(0, 0, 0)
  opacity: 0
  transition: transform 200ms ease, opacity 200ms ease
.v-dialog--smooth-enter-active,
.v-dialog--smooth-leave-active
  will-change: transform, opacity
  transition: transform 250ms ease, opacity 250ms ease

/* overlay fade in and out */
.v-dialog--fade-enter-active,
.v-dialog--fade-leave-active
  will-change: opacity
  transition: opacity 200ms
.v-dialog--fade-enter-from,
.v-dialog--fade-leave-to
  will-change: opacity
  opacity: 0 !important

=transform($tx: 3px, $rt: 2deg)
  transform: translateX($tx) rotate($rt)

=buzz-out()
  10%
    +transform()
  20%
    +transform(-3px, -2deg)
  30%
    +transform()
  40%
    +transform(-3px, -2deg)
  50%
    +transform(2px, 1deg)
  60%
    +transform(-2px, -1deg)
  70%
    +transform(2px, 1deg)
  80%
    +transform(-2px, -1deg)
  90%
    +transform(1px, 0)
  100%
    +transform(-1px, 0)

/* Buzz Out */
@keyframes animated-buzz-out
  +buzz-out

/*.vDialog.vDialogBuzzOut div.v-dialog-content */
.v-dialog--buzz-out div.v-dialog-content
  animation-name: animated-buzz-out
  /*规定完成动画所花费的时间，以秒或毫秒计*/
  animation-duration: 750ms
  /*动画从头到尾的速度是相同的*/
  animation-timing-function: linear
  /*执行次数*/
  animation-iteration-count: 1

@keyframes popIn
  0%
    transform: scale3d(0, 0, 0)
    opacity: 0
  20%
    opacity: 1
  40%
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
    transform: scale3d(1.08, 1.08, 1.08)
  60%
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    transform: scale3d(1, 1, 1)
  80%
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1)
    transform: scale3d(1.03, 1.03, 1.03)
  100%
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
    transform: scale3d(1, 1, 1)

.popIn .v-dialog-content
  animation: popIn .4s linear both
