$borderRadius: .3rem

@mixin icon-color-and-shadow($color, $shadow-color)
  color: $color
  filter: drop-shadow(4px 5px 5px $shadow-color)

.v-dialog-message
  background-color: transparent
  margin: 0 auto
  overflow: unset
  .v-dialog-body
    border-radius: 1rem
    box-shadow: 0 2.5rem 8rem rgba(0, 0, 0, .8)
    overflow: hidden
    display: flex
    align-items: center
    background-color: rgb(0,0,0,.3)
    backdrop-filter: saturate(180%) blur(12px)
  &__prepend,
  &__append
    width: 56px
    flex-shrink: 0
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.3rem
  &__body
    display: flex
    font-size: 14px
    flex-grow: 1
    padding: .5rem 0
  &__close
    cursor: pointer
  &.message-warning .v-dialog-message__icon
    @include icon-color-and-shadow(#FF9800, rgb(255,152,0,.8))
  &.message-error .v-dialog-message__icon
    @include icon-color-and-shadow(#F44336, rgb(244,67,54,.8))
  &.message-success .v-dialog-message__icon
    @include icon-color-and-shadow(#198754, rgb(25,135,84,.8))

=dialog-shadow($color)
  box-shadow: 0 1rem 5rem $color !important

.v-dialog__shadow--error
  +dialog-shadow(rgba(255,0,0,0.5))

.v-dialog__shadow--warning
  +dialog-shadow(rgba(255,165,0,0.5))

.v-dialog__shadow--success
  +dialog-shadow(rgba(0,255,0,0.5))
