/* modal */
.v-dialog-modal
  .v-dialog-body
    padding: 0 !important
  .v-dialog-content
    border-radius: .5rem
/* max window animated */
.v-dialog-default-animated
  transition: all .2s ease-in-out
