/* toast */

.v-dialog-toast
  background-color: transparent
  box-sizing: border-box
  transition: all .3s
  .v-dialog-body
    position: relative
    display: flex
    padding: 1rem
    box-shadow: 0 5px 40px rgb(0,0,0,.4)
    border-radius: .7rem
    border-width: 2px
    border-style: solid
    border-color: #ccc
    color: #333
    background-color: white
    width: 300px
    &.toast-warning
      border-color: #333
      background-color: #F5CF87
    &.toast-error
      background-color: #FF5252
      border-color: #bf2a2a
      color: white
      .v-dialog-toast__append
        color: #ccc
        &:hover
          color: white
    &.toast-success
      background-color: #2CBE4E
      border-color: #0a8427
      color: #1B5E20
      .v-dialog-toast__append
        color: #666
        &:hover
          color: black
  &--left
    left: 16px
    right: unset
  &--right
    left: unset
    right: 16px
  &__prepend,
  &__append
    display: flex
    justify-content: center
    flex-shrink: 0
  &__prepend
    font-size: 1.3rem
  &__body
    flex-grow: 1
    padding: 0 10px
    font-size: 14px
    overflow: hidden
    min-height: 60px
    h3
      margin: 0 0 3px 0
      font-size: 16px
      font-weight: 600
    div
      font-size: 14px
      line-height: 1.4
      margin: 0
  &__append
    color: #999
    font-size: 1rem
    outline: none
    transition: all .3s
    &:hover
      color: black
  &__close
    cursor: pointer
